# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.db

# Virtual environment
venv/
env/

# Streamlit-specific
*.config

# .env file for storing sensitive data like API keys
.env


# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
